@page
@using Inventory.Areas.Identity.Pages
@model AdminUserCreationModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: white;; 
        }

        .container-box {
            background-color: #ffffff;
            border: 1px solid #ced4da;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            max-width: 650px;
        }

        .form-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            font-size: 16px;
            width: 100%; 
            max-width: 400px;
            margin: 0 auto; 
        }

        .form-container h2 {
            margin-bottom: 20px;
            text-align: center; 
        }

        .form-container .form-group {
            margin-bottom: 20px;
        }

        .form-container label {
            font-weight: bold;
        }

        .form-container input[type="text"],
        .form-container input[type="email"],
        .form-container input[type="tel"] {
            border: 1px solid #ced4da;
            border-radius: 4px;
            height:40px;
            padding: 10px;
            width: 100%; 
            font-size: 16px;
            box-sizing: border-box;\
        }

        .form-container input[type="text"]::placeholder,
        .form-container input[type="email"]::placeholder,
        .form-container input[type="tel"]::placeholder {
            color: #a8a8a8;
        }


        h1 {
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 30px;
        }

        .btn-block {
            font-size: 16px;
            margin-left: 70px;
            background-color: #0E9BA8 !important;
            width: 200px;
        }



            .btn-block:hover {
                background-color: #0C8B97 !important;
                border-color: #0C8B97 !important;
            }

    </style>
</head>
<body>
    <h1>Create New User</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="container-box">
                <div class="form-container">
                    
                    <form method="post">
                        <div class="form-group">
                            <label for="Input_FirstName">First Name</label>
                            <input type="text" id="Input_FirstName" name="Input.FirstName" class="form-control" placeholder="Enter your First name" required>
                        </div>
                        <div class="form-group">
                            <label for="Input_LastName">Last Name</label>
                            <input type="text" id="Input_LastName" name="Input.LastName" class="form-control" placeholder="Enter your Last name" required>
                        </div>
                        <div class="form-group">
                            <label for="Input_PhoneNumber">Phone number</label>
                            <input type="text" id="Input_PhoneNumber" name="Input.PhoneNumber" class="form-control" placeholder="Enter your phone number" required>
                        </div>
                        <div class="form-group">
                            <label for="Input_Email">Email</label>
                            <input type="email" id="Input_Email" name="Input.Email" class="form-control" placeholder="Enter your email" required>
                        </div>
                        <div class="form-group">
                            <label for="Input_Address">Address</label>
                            <input type="text" id="Input_Address" name="Input.Address" class="form-control" placeholder="Enter your address" required>
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Create User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
