@using Microsoft.AspNetCore.Identity
@using Inventory.Areas.Identity.Data

@inject SignInManager<AuthUser> SignInManager
@inject UserManager<AuthUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px; 
            background-color: #f8f9fa; 
        }

        .navbar-nav {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .nav-item {
            margin-left: 15px;
        }

            .nav-item #login {
                margin-right: 200px;
            }


        .nav-link {
            text-decoration: none;
            color: #343a40;
            padding: 10px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

            .nav-link:hover {
                background-color: #f8f9fa;
                color: #007bff;
                text-decoration: underline;
            }

        .navbar-right {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-nav">
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-page="/Admin/Dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-page="/Products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-page="/Admin/UserActivity">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-page="/Orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-page="/Suppliers">Suppliers</a>
                </li>
            }
        </div>

        <div class="navbar-right">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            }
        </div>
    </div>
</body>
</html>
